#profile, #profile-settings {
  position: fixed;
  min-width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: -1;
}

@media only screen and (max-width: 991px) {
  #profile, #profile-settings {
    width: 100%;
  }
}